[2017-11-28 07:05] mvz commented on #490
Well, that was very insightful. I'm preparing a fix now.

[2017-11-30 04:36] mvz commented on #490
@enkessler it turns out this particular issue is not due to childprocess. The problem on Windows is a different one. Since I don't run Windows locally breaking this down to a concrete bug report for childprocess is a bit tricky.

[2017-12-07 17:45] UltimateGeek commented on #182
A pystring-solution for this has been provided with [step "When I run the following (commands|script):"](https://github.com/cucumber/aruba/blob/v1.0.0.pre.alpha.2/lib/aruba/cucumber/command.rb#L29)

[2017-12-07 18:20] UltimateGeek opened #521 "cucumber step to run pystring script broken on Windows"
## Summary
On Windows, Aruba fails to run the temporary script it creates from:

    When I run the following commands:
[code]

## Expected Behavior
    Then the output should contain "foo"

## Current Behavior
The step fails with output:

    Command "myscript" not found in PATH-variable "C:/...

## Your Environment
* Version used: 1.0.0.pre.alpha.2
* Operating System and version: Win7

[2017-12-28 07:50] maxmeyer opened #524 "Retire maxmeyer as maintainer"
## Summary

I don't have enought time to support aruba and it's community in a timely manner. I'm not allowed to do open source during business hours and don't have enough time for aruba in my spare time. I hope this might change in the future. But for now I decided to retire as maintainer since I was more or less passive over the course of the last year. Furthermore there's @mvz who does a really

[2018-01-09 13:57] mvz commented on #426
Still planning to work on this, my robotic friend...

[2018-01-12 06:52] onknows opened #525 "Detect empty output"
When I run command I want to check that there is no output, is that possible? I don't think this is possible with current version of Aruba. But sometimes it is useful to be able to check this.

[2018-01-15 08:13] #371 closed

[2018-01-18 23:36] doudou opened #526 "@disable-bundler is broken on 1.0 alpha"
@disable-bundler is broken (the underlying method has been removed). Not sure whether it is intentional.

The error is

[code]

[2018-01-18 23:41] doudou opened #527 "@no-clobber may break process monitoring"
I have a cucumber feature file where all the scenarios have @no-clobber, using aruba 0.14.3. This is because the very first feature bootstraps an install and is very expensive. The followup features only use it.

In this file, the steps that involve process management (I should stop, matching on output, ...) do not work (the output is always empty, waiting for process stop always complains that th

[2018-01-19 08:21] mattwynne commented on #524
@maxmeyer thank you too ❤️  you've done a tremendous job helping Aruba grow up from something that was just extracted out of Cucumber's test suite into a stand-alone open source project. It's been a pleasure working with you, and getting to know you too!

[2018-01-19 09:08] olleolleolle commented on #524
@maxmeyer You've been a rock in this process.

Thank you for being here!

(Great "alumni PR", too!)

[2018-01-19 09:15] maxmeyer commented on #524
Thanks for all those kind words! I going to be around in community as this is a great "place" to work! And I really loved those community events. 😄

And I'm still using aruba in a few of my projects.

[2018-01-19 09:33] aslakhellesoy commented on #524
Hi @maxmeyer - I just saw this. Thank you so much for all the amazing contributions over the years! I'm familiar with the feeling of guilt of not being able to dedicate enough time to something you're responsible for. Thanks for being honest about it!

I'll go through the checklist as soon as I can.

[2018-01-19 10:16] tooky commented on #524
@maxmeyer was amazing to meet you, I hope we'll still see you around the Cucumber community when you have time!

[2018-01-21 16:59] mvz commented on #374
Waiting for #517...

[2018-01-24 09:52] mvz commented on #524
@maxmeyer It's a pity we didn't get a chance to work together more. I'll take care of my TODOs in the coming weeks. Hope to see you around.

[2018-01-27 22:56] matthutchinson commented on #478
I came across this issue too, upgrading [lolcommits](https://github.com/mroth/lolcommits) to use the latest Aruba, from a much older version.

We have a few features that require running outside `tmp/aruba` (we need to be outside the projects dir altogether to avoid being in a git repo).  For these tests we [used to](https://github.com/mroth/lolcommits/blob/master/features/support/env.rb#L51) make

[2018-01-28 06:29] mvz commented on #478
That's a clear use case if ever I saw one! Thanks, @matthutchinson.

[2018-01-29 07:21] mvz commented on #490
Fixed in master. Needs fix on `0.14.x`

[2018-01-29 08:49] mvz commented on #490
Fixed in still. Will be released in 0.14.4.

[2018-01-29 08:49] #490 closed

[2018-02-02 17:41] #527 closed

[2018-02-05 06:26] mvz opened #538 "Fix configuration for disk usage calculation"
We should use actual bytes to configure the allocation unit, and allow autodetection.

## Summary

As explained in the comments for `#minimum_disk_space_used` here: https://github.com/cucumber/aruba/blob/dccf9047074c7fd7bf277be698eaa8baf677ed41/lib/aruba/aruba_path.rb#L92, the configuration of the disk space calculator uses 8-byte units. This is very confusing. We should also follow-up on the othe

[2018-02-06 04:35] UltimateGeek commented on #521
The problem is cmd.exe on Windows needs to be given a full or relative path to the script created.

[2018-02-07 06:44] #374 closed

[2018-03-01 07:16] #478 closed

[2018-03-04 06:46] mvz commented on #418
On the 0.14.x series, you will need to tag the scenario with `@mocked-home-directory`. This will set `$HOME` to the Aruba working directory. You can then remove the line `When I cd to "~"` entirely.

For 1.0.0, I'm planning to make this way of using `cd` work and also always have the home directory mocked to improve test isolation.

[2018-03-04 06:56] mvz commented on #526
It seems the module containing the underlying method was deprecated in 0.11.0 already, but without any user-facing warnings.

[2018-03-04 07:30] mvz commented on #526
This functionality is very useful and should be restored.

[2018-03-04 07:32] mvz commented on #521
Windows support is rather experimental I'm afraid. I'll see what I can do. Which version of Aruba are you using?

[2018-03-04 07:45] mvz opened #545 "Clean up output matchers"
## Summary

There are several matchers defined by Aruba that are very similar to matchers provided by RSpec. For example:

* `include_output_string` and its aliases `an_output_string_including` and `file_content_including`. These seem similar to the `include` or perhaps `match` matchers.
* `include_an_object`. This seems similar to `include`.

## Expected Behavior

Aruba should use default RSpec m

[2018-03-05 05:10] UltimateGeek commented on #521
Version used: 1.0.0.pre.alpha.2

Thank you @mvz

[2018-03-05 08:30] mvz commented on #524
I don't think I have this right, but I'm also not sure how to check this.

[2018-03-05 20:47] maxmeyer commented on #524
@mvz Can you send me your email address (by slack)? I need that information to add a new collaborator

[2018-03-05 21:03] mvz commented on #524
@maxmeyer done!

[2018-03-06 07:24] mvz commented on #524
@maxmeyer thanks!

[2018-03-06 18:42] mvz opened #549 "Review step wording for 1.0 release"
## Summary

Now is the time to go over the wording of the cucumber steps and make it nice for the 1.0 release.

## Context & Motivation

Some wording is a little inconsistent or unclear. We can still polish this and deprecate the order in a final 0.14.x release.

[2018-03-07 11:11] olleolleolle opened #550 "cucumberpro: Add a cover to your project - features/README.md"
You can **add a cover** to your project by adding a Markdown file called features/README.md to the project repository.

## Summary

In order to guide new-and-confused users who're trying to understand what's what: add an explanatory cover page to the docs.

## Expected Behavior

When we're done, there's a seamless documentation-reading experience which goes from the README link to the cucumber pro

[2018-03-07 11:14] olleolleolle commented on #550
There is content to adapt in the `features/0/README.md` file.

[2018-03-09 13:54] maxmeyer commented on #524
@mvz Does it work for you? I think we currently do not have a Github integration to deploy changes to Cucumber Pro automatically. As far as I remember this requires a personal Github token.

[2018-03-10 12:04] mvz commented on #524
@maxmeyer yes, I can push to cucumber pro now. Indeed, this is not automated. I do want to see if I can get that part working.

[2018-03-11 08:20] maxmeyer commented on #426
@mvz The tag "slow burner" prevents the bot to make it "stale".

[2018-03-15 06:29] mvz commented on #420
This has been partly handled in #546. For negated matchers, the problem persists.

[2018-03-15 06:39] mvz commented on #430
I can reproduce this behavior using a Gemfile with no "\n" at the end.

[2018-03-15 08:41] mvz opened #552 "Executing relative paths, oh my!"
## Summary

Aruba looks for executables by relative path starting from the current directory, not from the working directory. This means a feature cannot create an executable and immediately run it. There are some corner cases that we need to think about

## Expected Behavior

A scenario like this should work:
[code]

## Current Behavior

This fails with `Command "bin/local_cli" not found in PATH-

[2018-03-15 08:57] mvz commented on #552
The first release where this was broken was `0.8.0`. It seems this is because earlier versions didn't check the presence of the executable using `#which` before attempting to run it.

[2018-03-23 22:16] mbigras opened #556 "Setting RUBYLIB works but not $LOAD_PATH"
## Summary

Setting the `$LOAD_PATH` global doesn't work as expected.

## Expected Behavior

Given the following directory structure [mbigras/hello_aruba](https://github.com/mbigras/hello_aruba) rev `d5de011`

[code]

And the contents of `env.rb`

[code]

Cucumber should be able to find my `lib/hello_aruba.rb` file when it's required in `exe/hello_aruba`

[code]

## Current Behavior

[code]

## Po

[2018-03-24 03:57] mbigras commented on #556
This issues comes from not understanding how Ruby's `$LOAD_PATH` works.

Aruba's `$LOAD_PATH` inside `env.rb` is different from `hello_aruba`'s `$LOAD_PATH`.

The reason using `ENV['RUBYLIB']` works is because setting that exports it as an environment variable which reaches both Aruba and `hello_aruba`.

[2018-03-24 03:57] #556 closed

[2018-04-01 02:32] #485 closed

[2018-04-12 22:10] MartyGentillon commented on #521
I see the same on 0.14.5.

[2018-04-24 13:02] davetron5000 opened #558 "wrong number of arguments (given 0, expected 1) (ArgumentError) from lambda in ParameterTypeRegistry"
## Summary

Upgrading an app from older versions of Cucumber and Aruba, and the step "When I successfully run `foobar`" is failing from inside Cucumber's cucumber-expression gem and I have no idea how to proceed with debugging.

## Expected Behavior

I would expect the step to either clearly succeed or fail and not generate an exception from Cucumber's internals.

## Current Behavior

[code]

This

[2018-04-25 21:52] xtrasimplicity commented on #558
``expected "ls" to have finished in time (RSpec::Expectations::ExpectationNotMetError)``

What happens if you change `when I successfully run` to `when I run`?

[2018-04-25 22:34] davetron5000 commented on #558
It works fine and there is no error (with or without my changes to
Cucumber's internals)

Dave

On Wed, Apr 25, 2018 at 5:52 PM, Andrew <notifications@github.com> wrote:

[2018-04-26 20:24] kennethkalmer commented on #552
I'm seeing the same in [daemon-kit](https://github.com/kennethkalmer/daemon-kit) after jumping from 0.5.3 to 0.14.x. In the case of daemon-kit I have the following steps that are failing:

[code]

daemon-kit projects generate classic Rails-style generators (ala `./script/generate`) and these aren't in the path.

[2018-04-27 19:01] mvz opened #559 "Officially deprecate #run and #run_simple in the 0.14.x series"
## Summary

The `#run` and `#run_simple` methods were removed from master, but are still present without deprecation on 0.14.x. Our aim is to deprecated each method before removing it, so something will have to be done.

## Expected Behavior

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context & Motivation

## Your Environment

* Version use

[2018-04-27 22:40] mvz commented on #478
@matthutchinson is your case solved with the latest 0.14.x version?

[2018-04-28 17:29] maxmeyer commented on #526
@mvz This should give some context for the removal:
* https://github.com/cucumber/aruba/pull/261
* https://github.com/cucumber/aruba/issues/315#issuecomment-156426255

[2018-04-29 06:32] mvz commented on #526
@maxmeyer so your intention was to remove the `@disable-bundler` hook altogether and let people use `#delete_environment_variable` directly?

[2018-04-29 07:31] maxmeyer commented on #526
I was not aware of this hook at that time. but yes, the idea was to avoid steps/methods which are tied to some tool or language. to make that vision clear I added the "our focus" and "our vision" section to the Readme.

[2018-04-29 07:34] maxmeyer commented on #526
Unfortunately I had no clear "data" about uses of aruba. I even thought about asking the users what kind of language they use to see if the project has the correct focus. But unfortunately I didn't had the time to set it up properly.

[2018-04-29 11:56] matthutchinson commented on #478
will try that now and let you know

[2018-04-29 13:42] matthutchinson commented on #478
I can't see the changes in [this PR](https://github.com/cucumber/aruba/pull/540) in `v0.4.15`

[2018-04-29 17:04] mvz commented on #478
That's correct, since that's the PR for the upcoming 1.0 release. You should see the changes from #539 there though.

[2018-04-29 20:00] matthutchinson commented on #478
Sorry, this doesn't work for me, I'm trying this;

[code]

To run a commands in a tmp directory.. But `expand_path('.')`  from the `cd` method  in `api/core.rb` will always prefix this with `aruba.root_directory, aruba.current_directory`. Here's a debugging session to illustrate , the tmp dir is `/tmp/some_dir5`:

<img width="850" alt="screen shot 2018-04-29 at 20 59 47" src="https://user-images.g

[2018-04-30 15:52] doudou commented on #526
The problem with `@disable-bundler` is that the specificity of the "tool or language" is coming from Cucumber and Aruba themselves. Cucumber and Aruba are installed mostly with bundler, and therefore ends up in a bundler environment by the very nature of cucumber and aruba.

So ... how do you think this could work in my case ?

Basically, the issue I have is that I use aruba and cucumber to bootst

[2018-05-03 06:57] xtrasimplicity commented on #418
Bump.

[2018-05-03 12:39] xtrasimplicity commented on #525
Reopened. This sounds like a great idea!

[2018-05-03 13:14] xtrasimplicity commented on #545
Bumped.

[2018-05-04 11:59] davetron5000 commented on #558
Confirmed that downgrading to 2.x does not have this problem. It looks like while the latest release of aruba has an open-ended dep, master has it constrained, so sounds like the next release will prevent this error from showing up until Cuke 3 is supported.

Thanks all!

[2018-05-04 11:59] #558 closed

[2018-05-07 10:28] maxmeyer opened #563 "Run with `@debug` and `@announce` tag fails with `#to_h` missing"
## Summary

Running a feature with `@debug`  and `@announce` tag fails with:

[code]

## Expected Behavior

Command execution should not fail with ruby error.

## Current Behavior

The execution fails with the following error.

[code]

## Possible Solution

If I remember correctly, I forgot to add `NotImplementedError#to_h`. Maybe returning just an empty hash is a solution for this. I'm not sure,

[2018-05-07 10:52] maxmeyer opened #564 "Improve documentation for "activate_announcer_on_command_failure""
## Summary

The documentation "activate_announcer_on_command_failure" is not helpful for users as it misses information about what arguments this option takes, e.g.

[code]

## Expected Behavior

Documentation contains all required information.

## Current Behavior

Documentation lacks this information

## Possible Solution

Improve documentation and add announcers found here to documentation http

[2018-05-07 11:31] maxmeyer opened #565 "Add more logging for childprocess"
## Summary

`ChildProcess` has an API for a logger to troubleshoot issues with this gem. This might be a valuable addition for aruba to write those logs on request as well

## Expected Behavior

* Aruba has a configuration flag to activate this logger
* Those logs are written to a separate file
* The path to the file is written to console

## Context & Motivation

This might help to troubleshoot i

[2018-05-07 12:07] maxmeyer opened #566 "Move README from features/0 to features"
## Summary

Cucumber Pro renders `features/README` nowadays. Currently we have our README at `features/0/README`.

![message](https://user-images.githubusercontent.com/114236/39701138-3a1b8b9c-5200-11e8-9409-7cb2eb396b47.PNG)

## Expected Behavior

Move file from `features/README` to `features/0/README`.

[2018-05-08 09:11] maxmeyer commented on #566
Duplicate of #550

[2018-05-08 09:11] #566 closed

[2018-05-09 17:25] mvz commented on #524
I think one TODO is left.

[2018-05-14 06:46] xtrasimplicity commented on #420
Reopened.

[2018-05-14 07:41] xtrasimplicity commented on #430
Bump.

[2018-05-26 06:33] xtrasimplicity opened #568 "[Windows] Aruba doesn't know how to run "built-in" DOS commands"
## Summary
On Windows, as on Linux, Aruba knows how to handle running applications that are in the user's PATH environment variable, however unlike on Linux it doesn't know how to run commands built-in to the command prompt, such as `cd` and `echo`. This most likely works on Unix due to `cd` and `echo` being executables in their own right.

## Expected Behavior
[code]
should echo `\tmp\aruba\test_

[2018-05-26 06:37] xtrasimplicity commented on #568
https://github.com/cucumber/aruba/issues/521 seems to be related.

[2018-05-26 09:32] xtrasimplicity commented on #568
I've been able to put together a fix to get `echo` to work, but `cd` won't really work if prefixed with `cmd /c` due to the way the process is spawned. i.e.
[code]

I don't think we'll be able to use cmd with the `/k` flag, as it would effectively become 'interactive' and wait for further input (and an explicit exit signal).
Any ideas?

[2018-05-30 10:49] xtrasimplicity commented on #568
I was just thinking about this again.. Perhaps if we somehow changed Aruba's "context" such that, on Windows, it runs within a single command prompt instance which aborts on scenario completion? Or at some other trigger, so that we're not tightly coupling things?

To be clear, if we were to do this, processes executed by Aruba would be executed from within the "master" command prompt process. I.e.

[2018-05-30 12:49] xtrasimplicity commented on #568
It looks like this is a limitation of `ChildProcess`: https://github.com/enkessler/childprocess/blob/master/README.md#invoking-a-shell

I'll have a play around to see if I can work around this. If not, I may have to look upstream. :)

[2018-05-30 13:36] mvz commented on #568
What happens if you run the scenario with `cd test.d` on Unix? I'm guessing it won't "work" there either, because Aruba will set the working directory for each command spawning. If that is the case, I don't think there's a need to make it work on Windows.

[2018-05-30 13:41] mvz commented on #568
Another thing that I'm wondering about is: How do people developing a gem with an executable on Windows invoke said executable while developing? Knowing this may help in coming up with a reasonable scenario.

[2018-06-29 17:24] mvz commented on #526
This has been fixed in master.

[2018-06-29 17:24] #526 closed

[2018-07-09 07:21] mvz commented on #524
@aslakhellesoy can you take a look at the first item on this list please?

[2018-07-13 12:04] xtrasimplicity commented on #564
Reopening as this can be ultra useful.

[2018-07-13 12:50] #565 closed

[2018-08-06 20:11] xtrasimplicity commented on #568
I'm going to close this off, as it has been included as part of https://github.com/cucumber/aruba/pull/505

[2018-09-10 22:16] luismadrigal opened #573 "Aruba doesn't seem to be able to run commands that accept input via STDIN"
## Summary

I am using Aruba and RSpec to test a CLI.  The CLI accepts input files both as arguments and via STDIN.

The Aruba testing framework can perform the first command but does not seem to be able to do the second.
## Expected Behavior

The expectation is that both commands should run successfully.  I am not sure if this is a bug or an improvement. But I think that since it is a standard wa

[2018-09-14 07:43] #524 closed

[2018-09-25 20:14] nruth opened #574 "link to cucumber pro does not display the readme / features/0/README wrong path"
I got very confused by the documentation link:

<img width="925" alt="screen shot 2018-09-25 at 21 08 31" src="https://user-images.githubusercontent.com/26158/46040039-2f761600-c107-11e8-87be-92758af76d06.png">

It looks like It should go to https://app.cucumber.pro/projects/aruba/documents/branch/master/features/0/README.md

Why is there a /0/ in the path there? It seems like it should just be ht

[2018-11-02 02:01] peagha opened #576 "'have_output_on_stdout' doesn't work with 'all_commands'"
## Summary

I'm fixing the deprecation warnings in my app, and message suggests me to use `expect(all_commands).to have_output_on_stdout /output/`, but the matcher doesn't seem to work with `all_commands `.

## Expected Behavior
Given a command:
[code]
and the expectation:
[code]
The test should pass.
## Current Behavior
The test fails with the message:
[code]
## Possible Solution
The `have_output

[2018-11-10 01:04] xtrasimplicity commented on #573
@luismadrigal, Does it work if you use `run("ruby myprog.rb <input.csv")` instead? (Notice the lack of spacing between `<` and `input.csv`).

[2018-12-29 13:57] olleolleolle opened #579 "Appveyor tests fail on ENV['PATH'] being empty"
## Summary

Looking at Appveyor tests failing, I noted that some of them were about `ENV['PATH']` was blank.

Can that be configured to fix it?

## Expected Behavior

No tests failing on Appveyor, would be nice.

## Current Behavior

Tests fail with `ENV['PATH']` not being set on Appveyor.

## Possible Solution

Configuring Appveyor builds to have a $PATH.

## Steps to Reproduce (for bugs)

n/a

#

[2019-01-02 17:26] peagha commented on #576
`/unstale`

[2019-01-08 07:44] mvz opened #582 "Rethink bootstrap script"
## Summary

Investigate whether `bin/bootstrap`/`script/bootstrap` still makes sense and does the right thing.

## Expected Behavior

`bootstrap` needs to have significant advantages over the default gem development workflow (i.e., `bundle install`).

## Current Behavior

In addition to `bundle install`, `bootstrap` installs Bundler for you and checks that you have Ruby installed. These seem super

[2019-01-08 08:22] olleolleolle commented on #582
Remove the script, update docs: best solution here, I think.

[2019-01-27 13:50] mvz commented on #291
@weedySeaDragon I'm going through old issues that were closed by stalebot. Is this issue still relevant? If so, I'll reopen it.

[2019-01-27 19:44] #574 closed

[2019-01-30 16:21] swedebugia opened #589 "Test errors on guix"
Im guix we run the tests in an isolated environment with ruby version ruby 2.4.3p205 (2017-12-14 revision 61247) [x86_64-linux].

We currently get these errors:

[code]

any ideas?

[2019-01-30 16:45] olleolleolle commented on #589
@swedebugia Just for completeness, can you add which Git commit you used?

[2019-01-30 16:54] olleolleolle commented on #589
The `cmd` seems to be there, still! You have probably _found a defect_!

What happens if you name it `@cmd` instead, on the line which fails?

[2019-01-30 19:36] rekado commented on #589
We used the gem for version 0.14.7, downloaded from https://rubygems.org/downloads/aruba-0.14.7.gem.

[2019-01-31 08:45] swedebugia commented on #589
Works with latest master. Closing.

[2019-01-31 08:45] #589 closed

[2019-02-01 15:15] mvz commented on #480
Aruba should definitely support this.

[2019-02-14 00:05] grosser opened #592 "exit false should result in exit_status 1"
When using Aruba::Processes::InProcess FakeKernel#exit does not translate false to 1, which results in `Then(/^the exit status should( not)? be (\d+)$/)` from `lib/aruba/cucumber/command.rb` to fail with ` has exit status of "1", but has "false"`

[code]

so FakeKernel needs a fix ... I can do the PR if that sounds right.

[2019-02-14 07:23] olleolleolle commented on #592
That _does_ sound right to me. A Ruby behavioural compatibility improvement to `FakeKernel`.

[2019-02-17 20:40] olleolleolle commented on #582
Fixed in #593.

[2019-02-17 20:40] #582 closed

[2019-02-17 21:10] #592 closed

[2019-02-27 18:06] mvz opened #598 "Unify still and master branches"
## Summary

We should update the `still` development branch so the change to `master` is no more than a removal of deprecations.

## Details

This will be a combination of backporting bug fixes, moving deprecated code, moving other files. The end goal is that merging `still` into `master` will only lead to conflicts in deleted files that contain the code deprecated in the `0.14.x` line and removed

[2019-03-13 13:09] mvz commented on #576
Fixed in #601 by changing the deprecation message.

[2019-03-13 13:09] #576 closed

[2019-03-13 13:50] mvz commented on #397
Most deprecation warnings now also show an alternative so this may be less needed.

[2019-03-23 09:22] mvz opened #605 "Undeprecate selected parts of the API"
## Summary

The replacement for some deprecated API methods is rather verbose. We should consider undoing their deprecation or provide better replacements

## Expected Behavior

Aruba provides a simple upgrade path from earlier versions that does not lead to repetition of complex code in users' spec and cucumber files.

## Current Behavior

The replacement for `all_output` is `all_commands.map { |

[2019-04-28 19:38] mvz opened #608 "Environment methods may not use actual current environment"
## Summary

Something weird is going on here: https://github.com/cucumber/aruba/pull/603#issuecomment-487408392

## Expected Behavior

`#cd` and other methods that start an environment block should start from the actual current environment at that point. It *seems* `#cd` is not doing so in the build linked above, since there is code in Aruba that sets the `JRUBY_OPTS` env var and it *looks like* t

[2019-04-29 08:45] luke-hill commented on #470
I'll close this as fixed in my latest PR. This is something which is now distinctly more manageable (We use Xenial which runs faster, and have only 5*5 - 10 runs)

[2019-04-29 08:45] #470 closed

[2019-05-03 13:17] luke-hill commented on #598
If you need any help with this let me know.

I guess this is just a case of get all of the bug fixes that were only released into 0.14 into the 1.0 version then release 1.0? Or are we planning on releasing a 0.14.10 0.14.11 e.t.c.?

[2019-05-03 16:12] mvz commented on #598
It's a little more complicated since 1.0 has some breaking changes and drops support for older Rubies, which is a particular problem for, e.g., rspec.

So, there may be some more point releases for 0.14.

[2019-05-09 02:14] peagha opened #614 "Windows newlines comes with carriage return"
## Summary

When comparing multiline strings in Windows, the comparison fails because of the carriage return.

## Expected Behavior

The comparison should work. like it does in Unix systems:
[code]

## Current Behavior

The comparison fails:
[code]

## Possible Solution

The issue is caused by the binmode in the tempfiles used for capturing the processes ouput:
https://github.com/cucumber/aruba/bl

[2019-05-13 07:20] luke-hill commented on #579
Update note for Developers. This currently (As of May 2019), accounts for ~30% of failures. 7/23 in a recent appveyor run

[2019-05-13 07:22] luke-hill commented on #614
@peagha would you feel confident submitting a PR you "think" remedies the situation.

We're looking into trying to fix up some of the windows issues and/or backporting them to a 0.14.x fix.

If you can push up a PR, we can see how it runs on Appveyor

[2019-05-13 07:29] mvz commented on #579
Two questions I have:
* Why would Appveyor not set $PATH!?
* Is some of this fixed by #505?

I can have a look at #505 next weekend and will also update the build set then; the rest of the failures are due to unsupported Ruby versions I think.

[2019-05-13 07:34] luke-hill commented on #579
Given #505 has had 3 of you essentially mobbing on it. I suggest you get that merged in (If it's possible, as it's grown enormously), and then we re-check failures.

[2019-05-13 07:34] mvz commented on #614
@luke-hill I have disabled the stale bot so no need to use `slow burner` anymore :tada:.

[2019-05-13 07:39] mvz commented on #614
@peagha if we can get by without binmode that would be the best.

[2019-05-18 16:56] mvz commented on #579
@luke-hill I've rebased #505 so we can get a fresh build and perhaps play around a bit with merging only part if that makes more sense. We'll see where this goes.

[2019-05-20 11:11] olleolleolle opened #624 "Gemspec could have metadata with relevant links"
## Summary

RubyGems.org allows the use of [gemspec metadata](https://guides.rubygems.org/specification-reference/#metadata) to add links to the RubyGems.org page.

We should add those. This is the UI to change that.

## Expected Behavior

Links on RubyGems.org which point to existing things.

## Current Behavior

- Documentation link is now a 404

## Possible Solution

Add a section on metadata i

[2019-05-20 11:35] jasnow opened #625 "New alpha release downgraded my cucumber gem"
Tried your new 1.0.0.pre.alpha.3 release and it took my cucumber gem from
3.1.2 to 2.99.0. Appears one or more dependencies are holding it back.
Here is the diff of my Gemfile.lock file:

[code]

[2019-05-20 11:48] mvz commented on #625
Thanks, @jasnow. I'll look into it.

[2019-05-20 17:25] mvz commented on #579
Closing this as we now have appveyor tests succeeding :tada:.

[2019-05-20 17:25] #579 closed

[2019-05-20 18:01] mvz commented on #405
This may very well be related to #608.

[2019-05-20 20:00] olleolleolle commented on #579
So many congratulations!

[2019-05-21 07:39] #625 closed

[2019-05-21 07:40] mvz commented on #625
I'll release an alpha.4 soon.

[2019-05-22 07:38] mvz commented on #625
@jasnow and released it is.

[2019-05-22 14:21] jasnow commented on #625
@mvz - Tried alpha4. Should I make another issue regarding contracts (now at 0.16.0), ffi (now at 1.11.1), and rspec-expectations (now at 3.8.3) dependency constraints?

[2019-05-22 14:36] mvz commented on #625
@jasnow Those constraints are like that on purpose so they allow both older and newer versions.

[2019-05-22 14:58] jasnow commented on #625
Getting this error for **rake** on one of my repos after upgrading to alpha.4:
[code]
Run fine on current aruba gem release.

[2019-05-22 15:47] mvz commented on #625
Hm .. that file is deprecated in the current release. Are you using the InProcess runner or just requiring that file somewhere?

[2019-05-22 16:21] jasnow commented on #625
"in_process" still works (no error) in gem release 0.14.9.

[2019-05-22 20:59] mvz commented on #625
That means you're not actually using the InProcess class defined there. I indeed noticed that requiring that file in 0.14.9 won't print a deprecation message, whereas instantiating Aruba::InProcess will. It probably should complain when required, but for using the alpha.4 release, you can just remove the require.

To help me find out where we need to improve deprecation messaging, do you know why

[2019-05-22 23:51] jasnow commented on #625
Making a new issue starting with above comments to stop cluttering this issue.

[2019-05-22 23:52] jasnow opened #630 "Cannot load aruba/in_process and aruba/spawn_process"
1. @jasnow: Getting this error for rake on one of my repos after upgrading to alpha.4:
[code]
Run fine on current aruba gem release.

2.  @mvz: Hm .. that file is deprecated in the current release.
Are you using the InProcess runner or just requiring that file somewhere?

3.  @jasnow: "in_process" still works (no error or message) in gem release 0.14.9.

4.  @mvz: That means you're not actually us

[2019-05-23 04:06] olleolleolle commented on #630
If you could add the follow-up errors, too, it'd help diagnosing.

`<details>` is a tag you can use around long listings, if you have many of them and want to keep legibility.

Hope this helps!

[2019-05-23 07:49] olleolleolle commented on #630
The paths seem to have changed:

`require 'aruba/spawn_process` => `require 'aruba/processes/spawn_process`

There is a documentation warning on this line, about usage of this private API:

https://github.com/cucumber/aruba/blob/master/lib/aruba/processes/spawn_process.rb#L15

[2019-05-23 08:08] mvz commented on #630
I took a look at the offending file, and it looks like those lines were added by Aruba's installer. We should update these files in 0.14.x to emit deprecation messages when they're required.

[2019-05-23 11:41] jasnow commented on #630
@mvz - OK

[2019-05-27 08:05] luke-hill commented on #563
I'll investigate this issue @mvz as it seems easy enough to repro.

Quick question, is this just to be cut against master or against master and still?

[2019-05-27 09:57] mvz commented on #563
Looks like it's a problem that only occurs on master, but we'll see.

[2019-05-27 12:40] luke-hill commented on #563
I've got it about 90% fixed on master. But interestingly the debug flag masks things in a different way. But I've found where the bug is exposed. Just working out the best way to fix it.

[2019-05-30 13:06] mvz commented on #568
Re-opening since #505 hasn't been merged yet.

[2019-05-31 10:47] mvz opened #640 "Clean up step definitions"
## Summary

Some of Aruba's step definitions are very complex and have a lot of options. We should clean them up.

## Expected Behavior

Step definitions should be clear easy to follow.

## Current Behavior

Some step definitions have an awful lot of complex logic, making it hard to see what's going on. Especially when indirection is used to activate matchers.

## Possible Solution

We can at leas

[2019-05-31 15:33] mvz opened #641 "Restore selected old behaviors"
## Summary

Make good on the promise of #638.

## Context & Motivation

Pull request #638 reverted the deprecation of several methods and behavior of a cucumber step. We need to update master so that these are supported in upcoming 1.0.0.

[2019-06-10 12:15] mvz commented on #630
The 0.14.10 release will now warn about requiring these files.

[2019-06-10 12:15] #630 closed

[2019-06-10 12:59] #397 closed

[2019-06-11 04:57] #641 closed

[2019-06-11 05:01] mvz commented on #608
I'm going to close this for now since the specs explicitely test using the current `ENV`. The build failure was fixed anyway.

[2019-06-11 05:01] #608 closed

[2019-06-11 05:03] mvz commented on #605
This was done in #638 and #644.

[2019-06-11 05:03] #605 closed

[2019-06-16 10:04] mvz commented on #549
Delaying this to at least 1.1

[2019-06-16 10:07] mvz commented on #518
The RSpec repos have a similar policy, where edge cases must be checked in the specs, and the cukes are used for documentations.

[2019-06-16 10:13] mvz commented on #405
Closing for now as no longer reproducible.

[2019-06-16 10:13] #405 closed

[2019-06-20 00:09] bcolferzd opened #648 "Aruba runtime error FFI"
## Summary
Run time ffi error when running aruba init

## Expected Behavior
I expected the aruba to be intialized.

## Current Behavior
I’m running MacOS Mojave 10.14.5. I can gem install aruba with no errors but when I try aruba init I get:
/Users/me/.rbenv/versions/2.6.3/lib/ruby/2.6.0/rubygems/core_ext/kernel_require.rb:54:in `require': dlopen(/Users/me/.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0

[2019-06-20 09:17] mvz commented on #648
Hi @bcolferzd, this looks like a problem in the `ffi` gem. Can you also create an issue there? They can probably help you better. Please also link to that issue here so I can track it as well.

[2019-06-21 07:06] bcolferzd commented on #648
Here is the solution:
https://github.com/ffi/ffi/issues/687#issuecomment-468005152
[code]

[2019-06-21 07:06] #648 closed

[2019-06-29 12:15] mvz commented on #614
Alright, I've looked at this and these are my findings/thoughts until now:
* We may be able to remove binmode, but then we have to set the encoding for these streams to ASCII-8BIT. That may be fine. Whether this problem will persist, I don't know.
* I wonder what happens if the Ruby file itself uses CR/LF line endings. I *think* I remember that Ruby will convert line endings in multi-line strings

[2019-06-30 19:08] #614 closed

[2019-07-01 08:07] luke-hill commented on #598
Question...

Should we at some point do a set of staged updates to the dependencies on `still` ??

Things I thought about.

1) Cucumber dependency - Remove v1 (So 2.0 and above), then Remove v2 (So 3.0 and above)
2) Update Rubies - Remove all 1.x series (So 2.0 and above), then remove 2.1/2.2 (So 2.3 and above)
3) Update Rubocop - Probably could do a bump to the 0.50 range (As this will inevitably

[2019-07-01 09:00] mvz commented on #598
I have a feeling 1.0 is nearly ready. I'm probably not going to fully unify master and still to the point of being able to merge still into master.

That being the case, I'm not planning to drop compatibilities with Ruby etc. in the 0.14.x series. So, my current vague plan is to release a final 1.0.0 pre-release soonish and accompany that with some publicity to get people to try to upgrade via lat

[2019-07-03 13:04] #568 closed

[2019-08-05 09:45] luke-hill commented on #640
I'm gonna have a partial tackle at this, I saw a couple of places we could get some quick wins.

It won't close this issue out, but it'll definitely make some of the triaging a bit easier.

[2019-08-06 00:20] peagha opened #661 "Current state of support for Windows"
## Summary

I read [this comment](https://github.com/cucumber/aruba/issues/521#issuecomment-370208294) and it raised the question about the current support for Windows:

Does that apply to the Alpha version (1.0.0.pre.alpha.2) or to all the versions of the Gem?

## Possible Solution

If the Windows support is experimental we could inform this in the README 📜

## Context & Motivation

I'm updating

[2019-08-08 15:19] luke-hill opened #662 "The 'append to file' steps should add newlines"
## Summary

Using `append to file` cuke, shouldn't cause
[code]

## Expected Behavior

It wouldn't cause the error above

## Current Behavior

It does cause the error above. Code similar to this can be produced

[code]

## Possible Solution

Check for newline characters. If one isn't found, add one.
Adding an extra newline even in the worst circumstance, is just a bad style, but not adding one can

[2019-08-11 11:30] mvz commented on #662
This seems to be due to missing carriage returns.

Do you have an example of how you're producing the bad output in your 'current behavior' section?

[2019-08-12 06:52] luke-hill commented on #662
https://github.com/cucumber/cucumber-rails/pull/437/files#diff-c919fb7d9207732a01929e695d7c63baR87

[2019-08-12 14:47] mvz commented on #662
This is due to how Cucumber handles these multi-line string parameters, which essentially amounts to it stripping exactly one newline. See https://github.com/cucumber/aruba/blob/dde73643e174f2e286f095219717783a6f26d097/features/03_testing_frameworks/cucumber/steps/filesystem/append_to_file.feature#L17 for the current scenario that shows this behavior. If you want a final newline in this step and i

[2019-08-13 07:02] luke-hill commented on #662
I disagree, I think this is a bug that would need fixing.

When writing cukes, a lot of the descriptive websites / blogs don't have gaps between a Given and a When (I know you can have them), e.t.c.

I am in favour of just altering the logic to add a newline when using either of these aruba cukes (If one doesn't already exist). I'm happy to do the work in the next few days as well as I'm a little

[2019-08-13 09:39] mvz commented on #662
The thing is, we would be altering the behavior of multi-line strings in cucumber scenarios; The removal of the final newline from these strings is simply how Gherkin works. If we change this for our steps, this would lead to inconsistencies and confusion. Also, it would make it impossible for users to append or create files without trailing newlines.

[2019-08-13 12:57] luke-hill commented on #662
I disagree with that again. Although the point you raise about users cannot create/amend without newlines, this is valid. But I think this should be enforced - Files should always have a newline character at the end, else it causes issues, as encountered here.

Gherkin doesn't sanitize these strings because gherkin will parse each line accordingly, so there is a newline character being interpreted

[2019-08-13 16:58] mvz commented on #662
Aruba surely doesn't remove any trailing newlines, so it must be Cucumber/Gherkin doing it, right?

[2019-08-13 18:26] mvz commented on #563
Fixed in #664 and #665.

[2019-08-13 18:27] #563 closed

[2019-08-13 18:38] mvz opened #667 "Combined announcer outputs binaries to stdout"
## Summary

When activating the blanket announcer with `@announce`, the `command_content` announcer announces the full binary file if the command happens to be a binary file. This is bad and shouldn't happen.

## Expected Behavior

When annotating a scenario with `@announce`, announced output should be useful for the developer.

## Current Behavior

When annotating a scenario with `@announce`, all

[2019-08-14 07:52] luke-hill commented on #662
Those newlines are splitting the gherkin document into the relevant Lines, which then get converted into the AST's e.t.c.

It's a small bugfix I'm proposing to fix. I'm a bit confused for the lengthy debate, is there something I'm missing?

[2019-08-15 08:20] mvz commented on #662
It's a breaking change, and I want to understand what's going on.

[2019-08-15 08:51] luke-hill commented on #662
I mean, not really, yes it changes behaviour, but it's a defect? I'm really confused as to the confusion so to speak.

The descriptions / blogs / any resource I can find online doesn't show having extra lines in between each step in a feature (Same with us)

In order for us to work with aruba currently we have to pass in these phantom extra lines in weird places, so let's just fix the bug? It's a

[2019-08-15 09:39] mvz commented on #662
Aruba's own scenarios show that this step allows appending without a newline appearing in the file, so we would be changing documented behavior. Hence, it's a breaking change.

I understand that this change would make it easier to construct cucumber feature files using Aruba, but other users may have different needs.

I'm trying to get at the bottom of this doc string behavior in Cucumber and Gher

[2019-08-24 09:59] #640 closed

[2019-09-23 07:34] luke-hill commented on #430
This feels like a reproduction of the bug I raised a bit ago

https://github.com/cucumber/aruba/issues/662

I'll close this as a duplicate in favour of the other one (Which is a more in-depth detailed look)

[2019-09-23 07:38] luke-hill commented on #598
Where are we at with this?

I'm aware we aren't going to drop the `0.14` series any time soon, but can we release an official 1.0 cut. Just so we can at least gather some feedback from users. We can always release future patch releases if needs be.

Also do we know our major inhibitors for moving off `0.14`. From our last conversation some people are stuck on a `0.8.x` series right? Do we know who

[2019-09-23 10:07] mvz commented on #430
I think the problem here is similar, but still different since it occurs outside of cucumber scenarios. #570 seems to fix it.

[2019-09-23 11:22] luke-hill commented on #430
I disagree, as that adds a newline only in one circumstance, whereas the generic fix is to fix up the append to cuke. But fair point, having the issues as separate I guess is valid.

[2019-12-08 10:31] mvz commented on #598
I discovered one more bug for the `0.14.x` series :disappointed:.

[2019-12-08 13:20] mvz commented on #598
Yes, I think it's time. The bug in 0.14.x has to do with Bundler not picking up the right Gemfile when trying to run it with a clean environment. This is a bit of an edge case and has a workaround.

[2019-12-28 14:42] mvz opened #678 "Drop support for separate console history file"
## Summary

Aruba console uses its own history file. I don't think it should.

## Expected Behavior

History for aruba console should be appended to the general IRB history.

## Current Behavior

Aruba console stores its history in `~/.aruba_history`.

## Possible Solution

Remove the code setting the relevant IRB options, as well as Aruba's configuration option.

## Context & Motivation

 Having

[2019-12-31 12:49] mvz opened #682 "Update docker development support"
## Summary

The current Dockerfile is outdated and the current support for development with Docker is too complex.

## Expected Behavior

* The Dockerfile is up-to-date and provides a Ruby version that is supported by Aruba
* The Dockerfile is easy to update for Aruba developers even if they do not use Docker every day
* The Dockerfile and docker-compose.yml are well documented and do not contain

[2019-12-31 13:49] #430 closed

[2020-01-01 09:53] mvz opened #685 "Speed up tests"
## Summary

Aruba's tests take too long. Especially on JRuby, but on MRI they're still take quite long. Let's make them faster.

## Possible Solutions

* Test edge cases as unit tests instead of using an end-to-end test. This will probably mean moving them from cucumber to rspec.
* Figure out a way to reduce indirection. Current feature tests often do a nested cucumber run, which itself does a nes

[2020-01-01 13:20] mvz commented on #661
I have updated the README for the upcoming 1.0.0 release accordingly.

Support for Windows is tricky in general since at least Appveyor provides an almost-unix environment to run tests under. This means that available shell commands and their interface are different from what a user might encounter when running under, e.g., powershell or cmd.exe.

Pull requests and suggestions on how to improve th

[2020-01-01 13:20] #661 closed

[2020-01-01 13:32] mvz commented on #395
Related to #391.

[2020-01-01 13:37] mvz commented on #518
Related to #685.

[2020-01-01 14:27] #624 closed

[2020-01-01 14:35] mvz commented on #477
Closing this as the workaround has been removed.

[2020-01-01 14:35] #477 closed

[2020-01-01 15:12] mvz commented on #426
I can confirm that the method described in https://github.com/cucumber/aruba/issues/426#issuecomment-343458570 is the correct method to use in steps.
See the description at the top of https://github.com/cucumber/aruba/blob/061774301c7df545f34cc13e34756ba15374b835/features/02_configure_aruba/basics.feature.

[2020-01-01 15:12] #426 closed

[2020-01-01 15:35] mvz commented on #432
I've looked again at the 0.6.2 implementation, and it stops all processes unless it has deliberately stopped a process before. In the case of this scenario, this means it stops all processes.

[2020-01-01 15:55] mvz commented on #432
@mroth I'm afraid you will have to add some step that waits for the interactive command to finish. This would be either `I stop the command started last` or "I stop the command "<shell>"`.

[2020-01-01 15:58] mvz commented on #432
Documentation about this should probably be improved, since the interaction between steps is not very clear in this case.

A step definition like `I let the command started last finish` might also be nice, since it may better describe the intent in a case like this.

[2020-01-01 17:53] olleolleolle commented on #624
Thanks for improving this!

[2020-01-02 18:03] mvz opened #691 "Improve absolute path warnings"
## Summary

Aruba warns when its API methods are called with an absolute path, but this warning is not very informative.

## Expected Behavior

When the user calls an Aruba API method with an absolute path, Aruba reports the file and line of the user code or cucumber step, so the user can fix it.

## Current Behavior

Aruba complains about `expand_path` being called, even if that happens through s

[2020-01-02 19:00] mvz commented on #598
This is done as far as it will be done.

[2020-01-02 19:00] #598 closed

[2020-01-03 09:28] luke-hill commented on #662
Should we fix this for 1.0?

[2020-01-03 11:14] mvz commented on #662
No, I still don't think this is a bug.

[2020-01-03 12:45] mvz opened #694 "Stop including full Aruba API in Cucumber World or RSpec spec class"
## Summary

Aruba exposes a large set of API methods into the test environment. It would be cleaner to access these through a dedicated object.

## Expected Behavior

Something like:

[code]

## Current Behavior

[code]

## Possible Solution

This needs to be changed in several steps:

1. Create object that provides these methods.
2. Implement currently exposed methods in terms of this object.
3.

[2020-01-03 12:47] mvz opened #695 "Simplify event bus"
## Summary

Event bus code seems complex. Let's make it as simple as possible.

## Context & Motivation

Unneeded complexity should be removed. The complexity of the event bus was just something I noticed at some point.

[2020-01-04 07:44] #418 closed

[2020-01-04 07:58] mvz commented on #291
This is probably fixed in both 0.14 and master.

[2020-01-04 07:58] mvz commented on #284
There is now separate which code for windows so this should work properly.

[2020-01-09 17:06] PragTob opened #699 "Help Request: Testing a separate ruby project within another"
Hello there and thanks for aruba :green_heart:

My question/scenario might be a bit weird but I'll try either way. Code ref: https://github.com/colszowka/simplecov/pull/814 (PR where I stumbled upon this problem trying to implement something)

This is a request for "How do I do this? Can I do this?" _not_ "please change the way you're doing things"

## Versions

Ruby: 2.7
Aruba: 0.14.14

## Contex

[2020-01-10 15:48] mvz commented on #699
It looks like what you want is the effect of `Bundler.with_clean_env` (described in the *Shelling out* section of `bundle help exec`.

Aruba already tries to do something like that with its `#unset_bundler_env_vars` method, but recent experience with `rspec-rails` show that it's not doing its job. If it were doing its job, you could add the tag `@disable-bundler` to the scenario and that would be

[2020-01-10 18:52] PragTob commented on #699
@mvz thanks for all the background and help! Sadly, `@disable-bundler` isn't working (much like you suspected) - I'll give the workaround from rspec a shot. Thanks!

[2020-01-11 12:40] PragTob commented on #699
@mvz thanks, the rspec-rails workaround works for me/us :ok_hand: Adapted it a little bit: https://github.com/colszowka/simplecov/pull/814/files#diff-a5541ecebed4f51eb37fffc180511ee7

Thanks a bunch! :green_heart:

![IMG_20190215_122642_Bokeh](https://user-images.githubusercontent.com/606517/72204414-f2f33880-3477-11ea-94c3-bd83066dd1af.jpg)

[2020-01-17 14:21] PragTob commented on #699
@deivid-rodriguez not sure if you meant to close this one? While we've fixed it in simplecov my understanding was that @mvz wanted to explore a way to make it possible without freedom patching in aruba 1.0 :)

[2020-01-17 14:24] deivid-rodriguez commented on #699
Definitely not, not sure how that happended.

[2020-01-17 14:29] PragTob commented on #699
I think it was me formulating a commit message to that the magic `fix` targeted this, I guess when you merged it to your fork master it took you rights here to close it.

It's a fun world.

[2020-01-17 14:44] deivid-rodriguez commented on #699
Yeah, that looks like what happened :man_shrugging:

[2020-01-18 15:58] mvz commented on #699
I'm trying to reproduce this as a small test case and I'm confused how Travis is supposed to know it needs to install `parallel_tests`.

[2020-01-18 16:02] deivid-rodriguez commented on #699
Do you mean in simplecov? It's included in the test project's Gemfile: https://github.com/colszowka/simplecov/blob/7b4235cc4f9db9c37b75e7ec51364508e4cd3e28/test_projects/parallel_tests_project/Gemfile.

[2020-01-18 16:03] deivid-rodriguez commented on #699
Oh, you figured it out, great :)

[2020-01-18 16:12] mvz commented on #699
The suggested method using `@disable-bundler` does work with Aruba master. I made a pull request: https://github.com/colszowka/simplecov/pull/827.

[2020-01-18 17:02] mvz commented on #699
Closing this as disabling Bundler works in master.

[2020-01-18 17:02] #699 closed

[2020-01-20 14:47] benoittgt opened #700 "Aruba cannot match multiline"
Hello 😊

## Summary

## Expected Behavior

I have this feature test that I'm working on in rspec-rails codebase:

[code]

What I would like is:

[code]

## Current Behavior

But what I receive is:

[code]

## Possible Solution

It is working if I provide one line:

[code]

or the other

[code]

**But it fails when I have both lines.**

## Steps to Reproduce (for bugs)

[code]

## Your Environment

[2020-01-20 15:35] benoittgt commented on #700
I think I have maybe find the issue while trying to make a smaller reproduction script.

So this issue is on old for the moment.

[2020-01-20 15:38] benoittgt commented on #700
The issue is related to space.

So the fix is:

[code]

Sorry for the noise. 😑

[2020-01-20 15:38] #700 closed

[2020-01-20 17:03] mvz commented on #700
I'm glad you figured it out :+1:.

[2020-01-27 06:03] #552 closed

[2020-02-25 03:45] archerzz opened #705 "[1.0.0 regression]: StdErr output is after StdOut in step definition `the output should contain`"
## Summary

I found that in version `1.0.0`, the contents of `StdOut` and `StdErr` do not keep their original sequence in step definitions like `the output should contain`. More specific, `StdErr` is after `StdOut`.

Version `0.14.x` is fine. So I think this should be a regression.

## Expected Behavior

The output of `StdErr` and `StdOut` should keep their original sequence in step definitions li

[2020-02-25 08:38] mvz commented on #705
Thanks @archerzz, that is indeed a regression.

[2020-02-28 13:11] mvz commented on #705
Hi @archerzz I've just tried to reproduce this and it looks like this particular behavior is the same in 0.14.4, 0.14.14 and 1.0.0. In all versions, the combined output contains all of stdout and then all of stderr.

Therefore, I think the problem may be more subtle.

I know you can't share your project, but can you create a minimal test case that succeeds with 0.14.14 and fails with 1.0.0?

[2020-03-04 10:00] unrooty opened #706 "Run and stop command in before all RSpec hook"
## Summary

Hello! I have a small question. Is it possible to `run_сommand_and_stop` in `before(:all)` RSpec hook and then use `last_command_started` to compare output?

## Expected Behavior

The following code should work.

[code]

## Current Behavior

Previous code raises the following exception:

[code]

[2020-03-04 11:32] mvz commented on #706
No, this is not supported with a a `before :all` hook. Since the Aruba environment is reset before each spec, as soon as you have more than one spec, there would be no `last_command_started` in all but one of the specs.

It should work fine with `before :each`.

[2020-03-04 12:27] unrooty commented on #706
Ok. But why the following behaviour doesn't work? Command is executed but the `@result` call causes the same error.

[code]
Sorry for the stupid questions but I really don't fully understand whole cycle of Aruba work.

[2020-03-05 08:10] mvz commented on #706
I would have expected that to work. I'll look into it.

[2020-03-05 10:19] unrooty commented on #706
I was looking into it a little bit and it's look like there is some issue before in EventBus notification. So I don't understand why but looks like procs for commands execution are not registered in file lib/setup.rb in `before(:all)` case .

I mean this register events:

[code]

[2020-03-05 10:47] unrooty commented on #706
Also the simple workaround for `before(:all)` usage with Aruba is to create module with `self` methods like in module below, include it into RSpec, set first execution result in `before(:each)` hook and then check if it was set to prevent multiple command calls.

For example the can create following module:
[code]

Then we need to include it into RSpec.
**Note:** We need `before(:all)` hook to set

[2020-03-08 12:59] archerzz commented on #705
Hi @mvz, sorry for the late response.

My original report is not correct. I doubled checked my daily test logs, and I think this problem should exist in `0.14.x` or maybe even in earlier versions as well.

[2020-03-09 08:40] mvz commented on #705
No problem. I've changed the title of this issue accordingly.

[2020-03-15 13:27] mvz commented on #706
I dug a little deeper into how Aruba sets things up for each spec. The reason this code doesn't work in a `before :all` hook is that Aruba sets up its environment in a `before :each` hook. This means the plumbing to make `last_command_started` work is just not present at the time your `before :all` block is executed.

Aruba should probably complain more if you try to use any of its commands before

[2020-03-17 04:52] unrooty commented on #706
@mvz thank you for your work and for your answer! It helps a lot!

[2020-03-17 04:52] #706 closed

[2020-06-04 00:42] nex3 opened #713 "Aruba deleted my entire repository"
## Summary

I configured Aruba in an incorrect-but-reasonable way and it deleted my entire repository.

## Current Behavior

I was trying to get Aruba to run processes in the same working directory as the test runner, so I set:

[code]

It was not at all obvious to me that this would treat the current working directory as a temp directory and so *completely delete it* once testing was finished. Th

[2020-06-04 07:34] mvz commented on #713
Whoa, that's bad.

[2020-06-04 08:04] mvz opened #714 "Aruba should support cucumber 4"
## Summary

Aruba has a versioned dependency on Cucumber that excludes version 4. Aruba should support Cucumber 4.

## Expected Behavior

Setting `gem 'aruba', '~> 1.0'` and `gem 'cucumber', '~> 4.0'` in a `Gemfile` should allow Bundler to install cucumber with Aruba.

## Current Behavior

Bundler outputs:

[code]

[2020-06-05 07:48] #714 closed

[2020-07-10 10:13] luke-hill commented on #694
I think this would be something that would definitely prove tricky, but would provide good value, because then it starts to remove itself from the whole monkeypatch philosophy into a more OO one.

I might be able to dig into this a bit if you'd like, alongside other stuff.

[2020-07-14 17:13] utkarsh2102 opened #720 "Drop `git` from gemspec"
Hi,

Thanks for working on this! :heart:
However, while maintaining this in Debian, we found that this library relies on `git` to list the files (which could be done via pure Ruby alternative):

https://github.com/cucumber/aruba/blob/886490e037394223149c9b3f3c510e8c4a4900c5/aruba.gemspec#L48-L50

I'd be happy to raise a PR if you concur in dropping `git` from gemspec :smile:
Let me know what you t

[2020-07-16 13:26] #720 closed

[2020-07-17 12:24] mvz opened #722 "Use rspec-stubbed-env?"
## Summary

Aruba has a rather complex mechanism for setting the environment. Perhaps we can use rspec-stubbed-env to simplify things? This is just a thought and I haven't investigated yet.

[2020-07-26 05:36] mvz commented on #694
Hi @luke-hill it would be great if you can take a look at this. There's no rush since this is for the 2.0 release.

[2020-08-21 07:51] luke-hill opened #726 "The append_to_file method should provide feedback if file does not exist"
## Summary

When using `When I append to file "...." with: ` one of the following should happen if the file doesn't exist.
- A warning should be thrown
- An error should be thrown

## Current Behavior

It silently does nothing

## Possible Solution

## Steps to Reproduce (for bugs)

Self explanatory

## Context & Motivation

Was fixing some stuff in cucumber-rails. Found this issue when writing so

[2020-08-21 08:10] luke-hill commented on #662
Any thoughts still on this now 1.0 is cut? If we aren't going to fix this, we should mitigate this in cucumber-rails and document it accordingly.

[2020-08-21 13:55] mvz opened #728 "Drop support for older Ruby and Cucumber versions"
## Summary

Drop support for older Ruby and Cucumber versions. In particular, drop support for Ruby 2.4 and Cucumber 4 or lower.

## Context & Motivation

Keep things up-to-date, allow newer Ruby constructs, allow newer Cucumber step definitions.

[2020-08-21 15:52] mvz opened #729 "Test with multiple versions of Cucumber"
## Summary

Add some mechanism to test that Aruba still works with older versions of Cucumber that are officially supported.

## Expected Behavior

At least the combination of Aruba with Cucumber 2.4 is tested on TravisCI.

## Current Behavior

Tests are run with the latest Cucumber version supported on each Ruby version. This means versions older than Cucumber 4 are not tested.

## Possible Solut

[2020-11-08 12:32] mvz opened #740 "Make be_an_existing_X matchers more useful"
## Summary

It should be possible to use matchers like `be_an_existing_file` everywhere in a project's spec suite, even outside an Aruba spec.

## Expected Behavior

Just calling `require "aruba/rspec"` or similar should allow one to use `be_an_existing_file` in any spec.

## Current Behavior

Calling this helper fails because it can't find `stop_all_commands`.

## Possible Solution

- Don't stop

[2020-11-10 07:15] mvz opened #742 "Add windows build to Github Actions"
## Summary

Add windows build to Github Actions

## Context & Motivation

I'd like to build on all supported platforms using the same system. Also, it looks like the Github Actions VMs don't pollute the path with POSIX tools so the environment is more like what may be installed on users' machines.

## Possible Solution

See https://github.com/ruby/spec/blob/master/.github/workflows/ci.yml for an e

[2020-12-01 23:28] AlexWayfer opened #752 "Documentation site doesn't work"
## Summary

Documentation site is not available.

## Expected Behavior

I can access the site with Aruba documentation.

## Current Behavior

There is 522 error.

## Possible Solution

Fix Cloudflare or a site behind it.

## Steps to Reproduce (for bugs)

1. Try to load https://app.cucumber.pro/projects/aruba

## Context & Motivation

I want to read the documentation!

## Your Environment

Doesn't

[2020-12-04 07:49] mvz commented on #752
I'm trying to get some info on what's going on here. If nothing comes out of that I'm going to explore alternatives.

[2021-01-02 19:55] mvz opened #770 "Examine slow-loading dependencies"
## Summary

Some of Aruba's dependencies take a longish time to load. We pay for this time in every cucumber scenario. We should examine
whether we need each of them.

## Details

At least the following are 'slow'. Note: In normal use this would be insignificant, but in our tests this adds up, especially for JRuby:

- contracts
- tempfile

## Context & Motivation

Ongoing attempts to speed up the

[2021-01-03 09:03] mvz commented on #752
Looks like it's still broken.

[2021-01-03 09:11] mvz commented on #729
The upcoming end of support for Ruby 2.5 may be a good time to increase the minimum versions of Aruba's dependencies. This should mitigate this problem as well.

[2021-01-07 21:52] neomilium commented on #752
Aruba's older versions were hosted at relishapp; e.g. https://relishapp.com/cucumber/aruba/v/0-11-0/docs/configuration
@mvz Do you know why newer versions are not?

Even its not the solution from this issue, could you provide a way to generate it locally?

Thanks!

[2021-01-08 07:19] olleolleolle commented on #752
@mvz For reference, here's vcr's take on the same: https://github.com/vcr/vcr/issues/755 a thread where we attempt to circle what can be done.

[2021-01-08 07:44] mvz commented on #752
Thanks @olleolleolle! Anyone interested in what's going on should look at that issue and the issues linked from there.

@neomilium I don't know why Aruba doesn't use Relish. Aruba was already using cucumber pro when I became a maintainer. I think by that time Relish was already considered legacy. I haven't looked into generating the documentation locally yet since I always just leaned on cucumber

[2021-01-08 07:50] mvz commented on #752
Having read through the linked issues from https://github.com/vcr/vcr/issues/755 it's pretty clear to me that waiting for ~Cucumber Pro~ ~Cucumber Jam~ CucumberStudio is not a good option. I'm going to be looking at other options.

[2021-01-15 12:15] vasanthanpv opened #777 "Unable to activate aruba-1.0.4 Error"
## Summary
Im getting the below error while running the Ccucmber-Gherkin
**Unable to activate aruba-1.0.4, because childprocess-0.6.1 conflicts with childprocess (< 5.0, >= 2.0) (Gem::ConflictError**)
Installed the aruba gem for adding the below code in stepdefintions

Given /^a file named "([^"]*)" with:$/ do |file_name, file_content|
  write_file(file_name, file_content)
end
## Expected Behavior

[2021-01-15 12:55] mvz commented on #777
Aruba requires at least version 2.0 of childprocess so you cannot use it together with childprocess 0.6.1.

[2021-01-15 13:25] vasanthanpv commented on #777
Thanks
 I m Using ,selenium-webdriver-3.142.0 it  depends on childprocess  0.6.1. If i remove childprocess 0.6.1 it will affect the selenium.Can anyone please suggest how to make it work.

[2021-01-15 13:28] olleolleolle commented on #777
Perhaps you can update that gem to a later patch version of itself? https://rubygems.org/gems/selenium-webdriver/versions/3.142.7 allows a wider selection of childprocess?

`bundle update selenium-webdriver`

[2021-01-15 17:34] vasanthanpv commented on #777
Thanks. After updating the childprocess to 2.0 and seleniumwebdriver to 3.142.7  The reported error gone and it is fixed.

[2021-01-15 17:34] #777 closed

[2021-01-22 21:14] mvz commented on #752
Based on the discussion for VCR, I did some research and here are my findings up to now:

- GitBook looks pretty but it's another external service to rely on.
- mdBook is an alternative to GitBook that is open source and can be run locally
- gherkin2markdown can be used to convert the scenario's to markdown to be processed by mdBook, but the implementation is simple enough that it could be replace

[2021-01-23 15:21] neomilium commented on #752
@mvz I think you could add an interesting option to the list: `cucumber` supports a custom formatter as `--format` option.

Source `cucumber --help`:

To help to found a template, the built-in formatters are located in `lib/cucumber/formatter` in `cucumber` gem.
https://github.com/cucumber/cucumber-ruby/tree/master/lib/cucumber/formatter

[2021-01-23 16:34] enkessler commented on #752
@mvz I took a look at `yard-cucumber` as well. I haven't been motivated enough to actively try and update it myself but, for you or anyone else who was thinking about having a go at it, the `gherkin` portion of it could probably be swapped out with `cuke_modeler`, which works with every version of Gherkin to date. I made that gem specifically to be able to make other useful tools like this.

[2021-01-24 10:01] mvz commented on #726
What do you mean by this? From the code, it seems it silently creates the file. Is that the behavior you're seeing?

[2021-01-24 10:12] mvz commented on #726
This is officially documented bad behavior: https://github.com/cucumber/aruba/blob/996d631d8baa6b447aef4d2d6543b482060b381e/features/03_testing_frameworks/cucumber/steps/filesystem/append_to_file.feature#L29-L43

Steps to resolve this:

- In 1.x: Deprecate silent creation of the file
- In 2.0: Remove silent creation of the file

[2021-01-25 10:45] luke-hill commented on #726
Sounds perfect. Good solution, definite thumbs up from me.

[2021-01-31 12:15] #662 closed

[2021-02-28 10:08] #682 closed

[2021-04-05 10:41] #742 closed

[2021-04-14 12:43] mvz commented on #729
Adding Appraisals may also help in testing with upcoming Cucumber releases. See #801.

[2021-04-14 13:08] aurelien-reeves commented on #729
Short summary of the discussion we had in #801:

We keep dependency to `cucumber` bounded to the actual version of `cucumber`.

That is source of issues when working on releasing new versions of `cucumber`. We had a really hard time releasing `cucumber` version 6 because of circular dependencies: `cucumber` depends on `cucumber-wire` which depends on `aruba` which depends on `cucumber`.

It has be

[2021-05-13 10:09] caalberts opened #806 "Release aruba/rspec as a standalone gem without cucumber"
## Summary

Release `aruba-rspec` gem which contains only relevant code for `aruba/rspec`.

## Expected Behavior

When I need to use `aruba` with `RSpec`, I should be able to install the gem without cucumber.

Given the following Gemfile:

[code]

When `bundle install`

Then `Gemfile.lock` should contain:
[code]

## Current Behavior

Given the following Gemfile:

[code]

When `bundle install`

The

[2021-05-13 11:09] mvz commented on #806
Please see #402 for previous discussion about splitting aruba.

The name `aruba-rspec` is taken, unfortunately, but apart from that, I'm all for this.

Pull requests welcome, but they'll have to include a migration path.

[2021-05-14 14:57] caalberts opened #807 "Help request: Simulating Enter key in an interactive CLI"
### Help request:

I'm writing a test for an interactive CLI that displays a list of options. The user can either press up/down arrow or Enter to select an option.

How can I do this using `aruba-rspec`?

[2021-05-14 15:39] mvz commented on #807
@caalberts please follow the issue request template when filing issues. To get support, try https://community.smartbear.com/t5/Cucumber-Open/bd-p/CucumberOS or https://cucumberbdd.slack.com/

[2021-05-14 15:39] #807 closed

[2021-06-13 14:16] #729 closed

[2021-06-14 06:58] mvz commented on #402
With #806, there is no part of Aruba apart from the step definitions that depends on Cucumber.

[2021-06-20 12:20] mvz commented on #728
Support for Cucumber < 4 was dropped in #814.

[2021-06-20 12:56] #728 closed

[2021-06-20 19:07] #691 closed

[2021-06-29 16:20] adamdavis40208 opened #826 "Rubydoc link is broken"
http://www.rubydoc.info/gems/aruba is in the readme. It's also on the rubygems page for gem documentation

[2021-06-30 03:47] olleolleolle commented on #826
https://www.rubydoc.info/gems/~a/23

From what I can see this is the last visible page of gems of the letter A. That could indicate a troubled configuration of e.g. Elasticsearch.

[2021-06-30 06:39] mvz commented on #826
It looks like this happened before: https://github.com/docmeta/rubydoc.info/issues/155

[2021-06-30 06:41] mvz commented on #826
The gem is listed when you search for it: https://www.rubydoc.info/find/gems?q=aruba

[2021-06-30 07:05] olleolleolle commented on #826
@mvz @adamdavis40208 Now the link has been restored by the maintenance team of Rubydoc. Thank you for letting us know!

Can this issue now be closed as fixed? I think so.

[2021-06-30 07:19] mvz commented on #826
Yes, closing now.

[2021-06-30 07:19] #826 closed

[2021-07-26 09:33] #726 closed

[2021-10-02 14:32] mvz commented on #678
We may even drop the whole `aruba console` feature, _and_ the aruba CLI.

[2022-01-11 13:20] mvz opened #852 "Using Gem.win_platform? may lead to issues"
**Describe the bug**
When `--disable-gems` is used, `Gem` is not available.

**To Reproduce**
See https://github.com/cucumber/aruba/pull/813#issuecomment-1009883293

**Expected behavior**
Aruba works and correctly determines presence of windows.

[2022-01-14 16:26] jcarlson opened #854 "'Wait for output' steps are broken"
**Describe the bug**
`ExpectationError` is not defined in https://github.com/cucumber/aruba/blob/main/lib/aruba/cucumber/command.rb#L88-L104

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Test should fail, probably with an `RSpec::Expectations::ExpectationNotMetError`

**Screenshots**
[code]

**Additional context**
Tested with `aruba@2.0.0` with `cucumber@7.1.0` a

[2022-01-14 20:30] jcarlson commented on #854
#407 represents the exact use case that I am running into when I discovered this issue. Given it was closed due to inactivity some ~4 years ago, I think I'm going to have to assume that `aruba` is not well enough supported to continue investing time in to use on my project.

[2022-01-15 09:05] mvz commented on #854
Huh, you're writing Aruba off because of something that happened 4 years ago under a different maintainer?

[2022-01-15 09:06] mvz commented on #854
Anyway, thanks for the bug report itself. I will look into it.

[2022-01-15 16:54] mvz commented on #854
It turns out this step is untested and undocumented and doesn't do what it promises. You should use `Then the output should contain "hello world"` instead.

[2022-01-15 22:19] #854 closed

[2022-01-15 22:22] mvz commented on #854
I completely rewrote the step based on a related step and now it does actually wait for output without first stopping the command. This fix will be part of Aruba's next patch release.

[2022-01-16 09:22] mvz commented on #852
It looks like the right solution is simply to require `rubygems`.

[2022-01-16 14:10] #852 closed

[2022-01-19 16:11] jcarlson commented on #854
@mvz I apologize for sounding short, and I appreciate that you've taken the time to address this issue.

I think Aruba is a really cool project, and I haven't seen anything else much like it out there for testing command-line tools. I'd really like to make use of it, I've just been frustrated by the on-boarding process.

As far as I am aware, Cucumber doesn't have a concept of "public" vs "private

[2022-04-11 21:06] binaryape commented on #573
I've had problems similar to this:

When the tested executable checks for stdin, it freezes: it seems to find an open, empty pipe and hangs waiting for input.

After I added reading from stdin almost all tests broke. I worked around this by using an ENV variable to turn of reading from stdin for most tests.

Where I was testing pipes I continued to get errors until I wrapped the run command in a b

[2022-04-12 05:55] mvz commented on #573
In a way this is the correct workaround since Aruba does not emulate a full shell when running commands.

Some documentation should be added for this at least. I don't know if we can reliably detect attempts to add input redirection in the command and then warn or abort.

[2022-04-23 07:26] mvz commented on #722
There's also [stub_env](https://rubygems.org/gems/stub_env).

[2022-04-23 07:39] olleolleolle commented on #722
I liked that the first one had a usage example right away, in its Rubygems description.  More gems should do that

[2022-04-23 09:49] mvz commented on #854
Hi @jcarlson, I've released version 2.0.1 of Aruba which contains the rewritten `wait for output` steps.

[2022-06-05 21:53] dcominottim commented on #752
Hi there,

Has the documentation been down since late 2020? It still can't be accessed and, as a new potential user, I feel very wary of getting invested into the tool without it.

[2022-06-06 19:57] marnen commented on #752
@mvz What ever happened to Relish as a resource for doing that?

[2022-11-11 10:53] skwasnia commented on #752
@mvz The documentation is one of the strongest points, I like about BDD and Cucumber, as the project has always up to date, error free documentation.

I've used Aruba documentation website a lot in the past when working with it to fully embrace all the needed features.

Yes, one can `grep` the `feature` files, but the documentation in the html format, with the search box, was one of "wow effect" p